.message {
  padding: 1rem;

  background: #eff8ff;
  color: #2779bd;

  border-color: #6cb2eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 2rem;

  &.hidden {
    display: none;
  }

  &.success {
    background: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
  }

  &.warning {
    background: #fcf8e3;
    color: #8a6d3b;
    border-color: #faebcc;
  }

  &.error {
    background: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
  }
}